--extra-index-url https://download.pytorch.org/whl/cu129
torchvision
torchaudio
torch

pandas
transformers
pillow
numpy
av
opencv-python
opencv-python-headless
jsoncomment
pycuda
yt-dlp 
youtube-search-python
google-api-python-client
isodate
pytz
ffmpeg-python
timm
bs4
importlib

langchain
langchain-ollama
langchain-chroma
# git+https://github.com/openai/CLIP.git
fvcore
pytorchvideo
ultralytics