langchain
langchain-ollama
langchain-chroma
pandas
torchvision>=0.10.0
torch>=1.9.0
pillow
numpy
av
opencv-python
jsoncomment
pycuda
yt-dlp 
youtube-search-python
google-api-python-client
isodate
pytz
ffmpeg-python